<div>

    <h2>El balance de tu cuenta es</h2>
    <form method="post" action="retirar"> 
        <input id="monto" type="number" nombre ="monto" placeholder="<%= @monto%>"/>
        <input id="retiro" name="retiro" type="submit" value="retirar"/>
    </form>

    

</div>